iframe {
    width: 99%;
    position: absolute;
    height: 99%;
    border: none;
    /* Optional: Remove iframe border */
    overflow: hidden;
}

/* Style the button with an icon */
#view-source-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1; /* Set a higher z-index value */

}

/* Add icon styles (you can replace the content property with your own icon) */
#view-source-btn::before {
    content: "\21F1";
    /* Globe icon Unicode character */
    font-size: 20px;
    color: grey;
}